<%- include("header") -%>
    <h1 style="color: #A683E3;">About</h1>
    <div style="background-color: rgb(205, 204, 249); padding-bottom: 20px;">
        <p>This is a simple Todo list web app to add items in the list type in the name of the task in empty space provided and hit the add button and to delete simply click the checkbox to the left of each list item.</p>
        <h3>Bonus</h3>
        <p tyle="text-align: center;">You can create multiple lists just by adding your list name with a forward slash in front to the url for example /work will create a new Todo list with work as title.</p>
        <p>After creating multiple Todo lists using above method you can jump onto any list just by adding /ListTitle to the url in the address bar.</p>
        <a href="/" style="margin: auto;">Click here to go to Homepage</a>
    </div>
    
<%- include("footer") -%>  